.header {
  padding: 0 24px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 149px;
  }
}

.pc-only {
  display: flex;
  align-items: center;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 960px) {
  .header {
    padding: 0 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);

    &.border {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }
  .pc-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}
