.tag {
  margin-top: 10px;
  margin-bottom: 24px;
}

.heroBackground {
  width: 907px;
  height: 644px;
  display: block;
  margin: 100px auto 0;
  background-image: url('/images/Ipad.png');
  background-size: cover;
  background-position: center;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 29.53%,
      rgba(255, 255, 255, 0.5) 55.93%,
      #ffffff 77.25%
    );
  }
}

@media screen and (max-width: 960px) {
  .heroBackground {
    margin-top: 40px;
    background-image: url('/images/Iphone.png');
    width: 270px;
    height: 520px;
  }
}
