.tag {
  margin-top: 10px;
  margin-bottom: 24px;
}

.heroBackground {
  display: block;
  margin: 100px auto 0;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 29.53%,
      rgba(255, 255, 255, 0.5) 55.93%,
      #ffffff 77.25%
    );
    position: absolute;
    bottom: 0px;
  }
}

@media screen and (max-width: 960px) {
  .heroBackground {
    margin-top: 40px;
  }

  .hero-image {
    width: 270px !important;
    height: 520px !important;
    display: block;
    margin: 0 auto;
  }
}
