@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url('/fonts/woff2/PretendardBold.subset.woff2') format('woff2'),
    url('/fonts/woff/PretendardBold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url('/fonts/woff/PretendardMedium.subset.woff2') format('woff2'),
    url('/fonts/woff/PretendardMedium.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('/fonts/woff2/PretendardRegular.subset.woff2') format('woff2'),
    url('/fonts/woff/PretendardRegular.subset.woff') format('woff');
}
