@use './reset.scss';
@use './font.scss';
@use './variables.scss';

body {
  background: var(--color-lightBackground);
  font-family: 'Pretendard';
  font-size: 16px;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-link);
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
