:root {
  --color-lightBackground: #ffffff;
  --color-greenBackground: ##dfecc6;

  --color-black: #000000;
  --color-gray: #929292;
  --color-lightGray: #e9e9e9;
  --color-white: #ffffff;

  --color-lightGreen: #dfecc6;
  --color-green: #8e9c78;
  --color-darkGreen: #485c11;

  --text-headline: #000000;
  --text-paragraph: #6f6f6f;
  --text-captions: #485c11;
  --text-link: #000000;
  --text-lightText: #ffffff;
}
