.tabContent {
  margin-bottom: 120px;
  img {
    border-radius: 16px;
  }
}

@media screen and (max-width: 960px) {
  .tabContent {
    margin-bottom: 80px;
    img {
      width: calc(100% - 32px);
      display: block;
      margin: 0 auto;
      height: auto;
    }
  }
}
