.tab {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 80px 0;
}

.item {
  width: 204px;
  height: 69px;
  line-height: 69px;
  border-bottom: 2px solid var(--color-gray);
  position: relative;
  text-align: center;

  &.active {
    ::after {
      content: '';
      display: block;
      background-color: var(--color-darkGreen);
      height: 4px;
      width: 100%;
      position: absolute;
      bottom: -2px;
      border-radius: 16px;
    }
  }
}

@media screen and (max-width: 960px) {
  .tab {
    margin: 40px 0;
  }

  .item {
    width: 33%;
    height: 46px;
    line-height: 46px;
    border-width: 1px;

    &.active {
      border-bottom: none;
      ::after {
        height: 3px;
        bottom: -1.5px;
      }
    }
  }
}
