.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 60px;
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--color-white);

  &:disabled {
    background-color: var(--color-lightGray);
  }

  &.primary {
    background-color: var(--color-darkGreen);
  }

  &.gray {
    background-color: var(--color-gray);
  }

  &.xlarge {
    padding: 17px 19px;
  }

  &.large {
    padding: 13px 14px;
  }
  &.medium {
    padding: 9px 14px;
  }
  &.small {
    padding: 6px 10px;
  }
}

.button > svg,
.button > img {
  width: 14px;
  height: 14px;
}
