.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  .img {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

.bottom {
  margin-top: -4px;
  background-color: var(--color-white);
  padding: 35px 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  flex: 1;
  display: flex;
  flex-direction: column;

  .subtitle {
    margin-top: 8px;
  }
}
