.mobile-menu {
  position: fixed;
  top: 56px;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: var(--color-white);
  transition: right 0.3s;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;

  &.open {
    right: 0;
  }
}

.mobile-nav {
  margin-bottom: 30px;
  li {
    height: 56px;
    line-height: 56px;
  }
}

.mobile-login {
  width: calc(100% - 40px);
  margin: 0 auto;
  position: absolute;
  bottom: 100px;
}
