.container {
  padding-top: 120px;
  box-sizing: border-box;
  text-align: center;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

/* @media screen and (max-width: 960px) {
  .inner {
    max-width: 900px;
  }
} */
