.Heading1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -0.3px;
}

.Heading2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: -4%;
}

.Heading3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -3%;
}

.Link {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -2.5%;
}

.Paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.5%;
}

.Captions {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -1%;
}

.headline {
  color: #000;
}

.paragraph {
  color: #6f6f6f;
}

.captions {
  color: #485c11;
}

.link {
  color: #000;
}

.white {
  color: #fff;
}

.gray {
  color: #929292;
}

.darkgreen {
  color: #485c11;
}
