.Heading1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -1.44px;
}

.Heading2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: -0.88px;
}

.Heading3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.54px;
}

.Link {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.35px;
}

.Paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.75px;
}

.Captions {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.12px;
}

.Body1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.Body2 {
  font-style: Bold;
  font-size: 13px;
  line-height: 18px;
}

.headline {
  color: var(--text-headline);
}

.paragraph {
  color: var(--text-paragraph);
}

.captions {
  color: var(--text-captions);
}

.link {
  color: var(--text-link);
}

.white {
  color: var(--text-lightText);
}

.gray {
  color: var(--color-gray);
}

.darkgreen {
  color: var(--color-darkGreen);
}

@media screen and (max-width: 960px) {
  .Heading1 {
    font-size: 28px;
    line-height: 0.95;
    letter-spacing: -0.84px;
  }

  .Heading2 {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: -0.6px;
  }

  .Heading3 {
    font-size: 14px;
    letter-spacing: -0.42px;
  }

  .Link {
    font-size: 12px;
    letter-spacing: -0.3px;
  }

  .Paragraph {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.7px;
  }

  .Captions {
    font-size: 10px;
    letter-spacing: -0.3px;
  }
}
