.Heading1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -0.3px;
}

.Heading2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: -4%;
}

.Heading3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -3%;
}

.Link {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -2.5%;
}

.Paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.5%;
}

.Captions {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -1%;
}

.Body1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

.Body2 {
  font-style: Bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0%;
}

.headline {
  color: var(--text-headline);
}

.paragraph {
  color: var(--text-paragraph);
}

.captions {
  color: var(--text-captions);
}

.link {
  color: var(--text-link);
}

.white {
  color: var(--text-lightText);
}

.gray {
  color: var(--color-gray);
}

.darkgreen {
  color: var(--color-darkGreen);
}
